<nav>
  <ul>
    <li><a routerLink="/calculator-component" routerLinkActive="active">Calculator</a></li>
    <li><a routerLink="/apod-component" routerLinkActive="active">Apod</a></li>
    <li><a routerLink="/beers-component" routerLinkActive="active">Cervezas</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

