<div class="row">
    <div class="col-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(7)">7</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(4)">4</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(1)">1</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(',')">,</button>
    </div>
    <div class="col-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(8)">8</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(5)">5</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(2)">2</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(0)">0</button>
    
    </div>
    <div class="col-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(9)">9</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(6)">6</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick(3)">3</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick('=')">=</button>
    
    </div>
    <div class="col-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick('+')">+</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick('-')">-</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick('*')">X</button>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="handleClick('/')">/</button>
    
    </div>    
</div>

